<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Game Recommendation</title>
    <!-- Tambahkan stylesheet atau link ke Bootstrap jika diperlukan -->
</head>

<body>
    <h1>Personalized Recommendations</h1>
    <ul>
        {% for game in personalized_recommendations %}
        <li>{{ game }}</li>
        {% endfor %}
    </ul>
    <!-- Tambahkan HTML atau styling lainnya sesuai kebutuhan -->
</body>

</html>
